.header {
  height: 18.1rem;
  display: flex;
  align-items: center;
  color: $color-dark-s;

  @media (max-width: $tablet-size) {
    height: 11.9rem;
    margin-bottom: 3.2rem;
  }

  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (max-width: $phone-size) {
      justify-content: flex-start;
    }
  }

  &__logo {
    color: $color-light-xl;

    @media (max-width: $phone-size) {
      margin-right: 4.3rem;
    }
  }

  &__title {
    font-family: Georgia, Times, Times New Roman, serif;
    font-size: 3.2rem;
    font-weight: 400;
    line-height: 0.1;
    color: $color-primary;
    letter-spacing: 0.2rem;
  }

  &__subtitle {
    color: $color-light-xl;
    letter-spacing: 0.07rem;
  }

  &__nav-list {
    display: flex;
    color: $color-dark-s;

    @media (max-width: $phone-size) {
      display: none;
    }
  }

  &__nav-item {

    &:not(:last-child) {
      margin-right: 3.5rem;
    }
  }

  &__link {
    display: flex;
    flex-direction: column;
    transition: all 0.3s linear;

    &:hover {
      color: $color-light-s;
    }

    &.active {
      color: $color-light-s;
    }

    &-border {
      height: 3px;
      background-color: transparent;

      &.active {
        background-color: $color-primary;
      }
    }
  }

  &__burger {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;

    @media (max-width: $phone-size) {
      display: block;
    }
  }
}


.header-pets {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  height: 12rem;
  background-color: $color-light-xl;

  @media (max-width: $tablet-size) {
    margin-bottom: 0;
  }
  
  &__title {
    color: $color-dark-l;
  }

  &__subtitle {
    color: $color-dark-3xl;
  }

  &__link {
    color: $color-dark-l;
    transition: color 0.3s linear;

    &.active {
      color: $color-dark-l;
    }

    &:hover {
      color: $color-dark-3xl;
    }
  }
}

.mobile-menu {
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 1000;
  width: 32rem;
  height: 100vh;
  padding-top: 2.5rem;
  background-color: $color-dark-3xl;
  opacity: 0;
  transition: all 0.3s linear;

  &.open {
    right: 0;
    opacity: 1;
  }

  &__logo-block {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 16.6rem;
  }

  & .header__logo {
    margin-right: 3.9rem;
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__nav-item {
    font-size: 3.2rem;

    &:not(:last-child) {
      margin-bottom: 40px;
    }
  }

  &__link {
    & > span {
      margin-bottom: 1.3rem;
    }
  }
}
