
.our-friends {
  padding: 8rem 0 10rem 0;

  @media (max-width: $phone-size) {
    padding: 4.3rem 0 4.1rem 0;
  }

  &_pets {

    @media (max-width: $tablet-size) {
      padding-bottom: 7.6rem;
    }

    @media (max-width: $phone-size) {
      padding-bottom: 4.2rem;
    }
  }

  &__title {
    width: 40rem;
    margin: 0 auto 2.5rem;
    text-align: center;

    @media (max-width: $phone-size) {
      width: 100%;
      margin-bottom: 0.8rem;
    }

    &_pets {
      margin-bottom: 6rem;
      
      @media (max-width: $tablet-size) {
        margin-bottom: 1rem;
      }

      @media (max-width: $phone-size) {
        margin-bottom: 2.1rem;
      }
    }
  }

  &__slider {
    margin-bottom: 2.4rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__list {
    margin-bottom: 6rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 4rem;
    grid-row-gap: 3rem;

    @media (max-width: $tablet-size) {
      height: 141.5rem;
      margin-bottom: 1rem;
      padding: 2rem 6.4rem 3rem;
      grid-template-columns: repeat(2, 27rem);
      align-items: center;
      overflow-y: hidden;
    }

    @media (max-width: $phone-size) {
      grid-template-columns: 27rem;
      margin-bottom: 1.2rem;
      padding: 2rem 1.5rem 3rem;
    }
  }

  &__btn-group {
    width: 100%;
    display: none;
    justify-content: center;

    @media (max-width: $phone-size) {
      display: flex;
      margin-bottom: 1.6rem;
    }

    & .btn:not(:last-child) {
      margin-right: 8rem;
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.fade {
  animation: fade 1.5s;
}