.btn {
  width: fit-content;
  height: 5.2rem;
  padding: 0 4.5rem;
  display: flex;
  align-items: center;
  font-family: Georgia, Times, Times New Roman, serif;
  font-size: 1.7rem;
  letter-spacing: 0.1rem;
  border: 2px solid transparent;
  border-radius: 10rem;
  transition: all 0.3s linear;
  cursor: pointer;

  &:disabled svg {
    fill: $color-dark-s;
  }

  &:hover {
    border-color: $color-primary-light;
    background-color: $color-primary-light;
  }

  &:disabled:hover {
    border-color: $color-dark-s;
    background-color: transparent;
    cursor: initial;
  }

  &-center {
    margin: 0 auto;
  }

  &-primary {
    color: $color-dark-3xl;
    background-color: $color-primary;  
  }

  &-outline {
    border-color: $color-primary;
    background-color: transparent;
  }

  &-circle {
    width: 5.2rem;
    height: 5.2rem;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    &:disabled {
      color: $color-dark-s;
      border-color: $color-dark-s;
    }
  }

  &.btn-circle:active {
    border-color: $color-primary;
    background-color: $color-primary;

    &:disabled {
      border-color: $color-dark-s;
      background-color: transparent;
    }
  }

  &-alone {

    @media (max-width: $phone-size) {
      display: none;
    }
  }

  &-hover {
    border-color: $color-primary;
    background-color: $color-primary;
  }
}
