.slider {
  @media (max-width: $phone-size) {
    display: flex;
    flex-direction: column;
    padding: 0 1.5rem;
  }

  &__wrapper {
    width: 99rem;
    overflow: hidden;

    @media (max-width: $tablet-size) {
      max-width: 58rem;
    }

    @media (max-width: $phone-size) {
      max-width: 30rem;
      margin-bottom: 2rem;
    }
  }

  &__container {
    position: relative;
    left: -108rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 9rem;

    @media (max-width: $tablet-size) {
      column-gap: 4rem;
      left: -62rem;
    }

    @media (max-width: $phone-size) {
      left: -29.5rem;
      
    }
  }

  &__cards {
    padding: 3.5rem 0;
    display: grid;
    grid-template-columns: repeat(3, 27rem);
    column-gap: 9rem;

    @media (max-width: $tablet-size) {
      grid-template-columns: repeat(2, 27rem);
      column-gap: 4rem;
    }

    @media (max-width: $phone-size) {
      padding-bottom: 0.1rem;
      grid-template-columns: repeat(1, 27rem);
    }

    & div:last-child {
      @media (max-width: $tablet-size) {
        display: none;
      }
    }

    & div:not(:first-child){
      @media (max-width: $phone-size) {
        display: none;
      }
    }
  }
}

@keyframes move-right {
  from {left: -108rem;}
  to {left: -215.9rem;}
}

@keyframes move-right-tablet {
  from {left: -62rem;}
  to {left: -124rem;}
}

@keyframes move-right-phone {
  from {left: -29.5rem;}
  to {left: -60.5rem;}
}

.transition-right {
  animation-name: move-right;
  animation-duration: 1s;

  @media (max-width: $tablet-size) {
    animation-name: move-right-tablet;
  }

  @media (max-width: $phone-size) {
    animation-name: move-right-phone;
  }
}

@keyframes move-left {
  from {left: -108rem;}
  to {left: 0;}
}

@keyframes move-left-tablet {
  from {left: -62rem;}
  to {left: 0;}
}

@keyframes move-left-phone {
  from {left: -29.5rem;}
  to {left: 1.5rem;}
}

.transition-left {
  animation-name: move-left;
  animation-duration: 1s;

  @media (max-width: $tablet-size) {
    animation-name: move-left-tablet;
  }

  @media (max-width: $phone-size) {
    animation-name: move-left-phone;
  }
}
